.infoNav {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5em 2.5em 5em 5em;
  background: rgba(41, 14, 14, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.infoOption {
  font-size: 2em;
  color: var(--text-color);
  width: 80%;
  line-height: 3em;
}
.infoOPtion--active {
  background: rgba(255, 255, 255, 0.1);

}

.infoOption:hover {
  cursor: pointer;
  color: var(--border-color)
}


@media all and (max-width: 1300px) {
  .infoNav {
    margin: 4em 2em 4em 4em;
  }
}

@media all and (max-width: 1050px) {
  .infoNav {
    margin: 3.5em 1.5em 3.5em 3.5em;
  }
}

@media all and (max-width: 970px) {
  .infoNav {
    border: 1px solid pink;
    margin: 3em 1.5em 3em 3em;
  }
  
}

@media all and (max-width: 860px) {
  .infoNav {
    border: 1px solid pink;
    margin: 3em 1.5em 3em 3em;
  }
  .infoOption {
    font-size: 1.5em;
    line-height: 2.5em;
  }
}