.infoNavDiv
{
    width: 20%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.infoOption{
    size: 3em;
    color: var(--text-color);
    
}

.infoOption:hover {
    cursor: pointer;
}
