.welcomeDiv {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  color: var(--text-color);
  /* border: 1px solid pink; */
}

.infoDiv {
  height: 90vh;
  display: flex;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}


