.contentsContainer {
    height: 93.5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0;
}

.contentsDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    color: var(--text-color);

}