.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username {
    color: var(--text-color);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    max-width: calc(var(--button-size) + 10);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover{
    filter: brightness(1.4);
    cursor: pointer;
}
.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}
.dropdown {
    position: absolute;
    top: 50px;
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}
.menu-item {
    color: var(--text-color);   
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}
.menu-item:hover {
    background-color: #525357;
    cursor: pointer;
}