.aboutDiv {
  display: flex;
  flex-grow: 1;
  padding: 2em;
  background: rgba(41, 14, 14, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.aboutText {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid pink;
}
.aboutText p {
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: justify;
}

.aboutText a {
  color: #ec3944;
}
.aboutText a:hover {
  color: var(--border-color);
}

.aboutText h3 {
  font-size: 1.5rem;
}

.aboutImage {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  /* border: 1px solid pink; */
}

.picture {
  width: 20em;
  height: 20em;
}

@media all and (max-width: 1420px) {

  .aboutText h3 {
    font-size: 1.2rem;
  }
  .picture {
    width: 18em;
    height: 18em;
  }

}

@media all and (max-width: 1380px) {
    .aboutText p {
    font-size: 1rem;
    text-align: justify;
  }
  .picture {
    width: 17em;
    height: 17em;
  }
}


@media all and (max-width: 1040px) {
  .picture {
    width: 15em;
    height: 15em;
  }
}

@media all and (max-width: 970px) {

  .picture {
    width: 15em;
    height: 15em;
  }
}

@media all and (max-width: 860px) {
  .aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }
  .aboutText {
    width: 100%;

  }
  .aboutText p {
    font-size: 1.2rem;
  }
  .aboutImage{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .picture {
    width: 12em;
    height: 12em;
  }

}

@media all and (max-width: 760px) {
  .aboutText p {
    font-size: 1rem;
  }
  .aboutText h3 {
    font-size: 1.2rem;
  }
  .picture {
    width: 10em;
    height: 10em;
  }

}

@media all and (max-width: 500px) {

  .aboutText p {
    font-size: 1rem;
  }
  .aboutText h3 {
    font-size: 1rem;
  }
  .picture {
    width: 8em;
    height: 8em;
  }

}

@media all and (max-width: 450px) {

  .aboutText p {
    font-size: 1rem;
  }
  .aboutText h3 {
    font-size: 1.2rem;
  }
  .picture {
    width: 8em;
    height: 8em;
  }

}