.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.messageContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.letter {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  filter: blur(0.5px);
  transition: 4s;
  margin: 0;
  padding: 0;
  width: auto;
}
.and {
  width: 10%;
}
.letter:hover {
  transform: rotate(180deg) translateY(20px);
  transition: 0.5s;
  filter: blur(20px);
  opacity: 0;
}
.spacing {
  letter-spacing: 0.5rem;
  opacity: 0;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 550px) {
  .letter {
    font-size: 3rem;
  }
}

@media all and (max-width: 400px) {
  .letter {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 320px) {
  .letter {
    font-size: 2rem;
  }
}
