.App {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  width: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


@media all and (max-width: 450px){
  .App {
    height: 100%;
  }

}


/* .wave {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url("/src/assets/images/wave2.png");
  background-color: transparent;
  animation: wave-animate 10s linear infinite;
}
.wave:before {
  content: "";
  width: 100%;
  height: 143px;
  background: url("/src/assets/images/wave2.png");
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: transparent;
  animation: wave-animate-reverse 25s linear infinite;
}
.wave:after {
  content: "";
  width: 100%;
  height: 143px;
  background: url("/src/assets/images/wave2.png");
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  animation-delay: 5s;
  background-color: transparent;
  animation: wave-animate 15s linear infinite;
}

@keyframes wave-animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1234px;
  }
}

@keyframes wave-animate-reverse {
  0% {
    background-position: 1234px;
  }
  100% {
    background-position: 0;
  }
} */
