.infoDiv {
    height: 90vh;
    display: flex;
    width: 99.9%;
    color: var(--text-color);

    /* border: 1px solid pink; */
  }
  
  
  .infoContents {
    width: 70%;
    display: flex;
    padding: 0;
    margin: 5em 5em 5em 2.5em;
    /* background-color: var(--bg);
    border: var(--border); */


    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }