.infoDiv {
  height: 90vh;
  display: flex;
  /* width: 99.9%; */
  color: var(--text-color);

  /* border: 1px solid pink; */
}

.infoContents {
  width: 70%;
  display: flex;
  padding: 0;
  margin: 5em 5em 5em 2.5em;
}

@media all and (max-width: 1300px) {
  .infoDiv {
    height: 85vh;
  }
  .infoContents {
    margin: 4em 4em 4em 2em;
  }
}

@media all and (max-width: 1050px) {
  .infoContents {
    margin: 3.5em 3.5em 3.5em 1.5em;
  }
}

@media all and (max-width: 970px) {
  .infoContents {
    margin: 3em 3em 3em 1.5em;
  }
}

@media all and (max-width: 860px) {
  .infoContents {
    width: 100%;
    margin: 1em 1em 1em 0em;
  }
}

@media all and (max-width: 450px){
  .infoDiv {
    flex-direction: column;
  }

}
